body {
    min-width: 960px;
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;      
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}
/*
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
.main-header {
    height: 320px;
    background-color: #f4f7f9;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-navigation,
.footer-social {    
    background-color: #293449;
    list-style: none;     
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;     
    list-style: none;  
    height: 42px;
    margin-bottom: 9px;
}


.logo {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    align-items: center;
    background-color: red;
    width: 165px;
    height: 36px;
    padding-left: 55px;
    padding-top: 15px;   
    border-bottom: 9px solid #b52933;
}

.btn-search {    
    padding-right: 197px;
}

.btn-bookmarks {
    padding-right: 47px;
} 

.btn-basket {
    padding-right: 31px;    
}

.catalog-basket {
    background-color: rgb(238, 54, 67);        
    width: 150px;          
    padding: 11px 31px 12px 22px; /* верх право низ лево */  
}

.btn-search img {
    padding-left: 17;
}

.btn-search img,
.btn-bookmarks img,
.btn-basket img,
.catalog-basket img {
    margin-right: 14px;
}

.btn-order {
    background-color: #63a63e;
    width: 150px;      
    padding: 11px 22px 12px 22px;    
}

.site-navigation,
.user-navigation,
.shop-navigation,
.manufacturer,
.menu-service,
.menu-company,
.category-nav,
.box-filter,
.radio-filter {    
    list-style: none; 
    font-size: 17px;
    line-height: 18px;
}


.user-navigation {  
    display: flex;
    flex-wrap: wrap;    
}

.user-navigation a,
.breadcrumbs a {
    display: block;
    padding: 25px 20px;
    margin: 0;

    vertical-align: middle;
    color: #000000;
}

.shop-navigation,
.main-footer {    
  background-color: #32425c;      
}

.coordinate {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 960px;
    height: 149px;
    font-size: 10px;
    line-height: 15px; 
    /*
    background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}

.coordinate h1 {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: red;
    width: 195px;    
}

.tel {    
    font-size: 18px;
    line-height: 23px;
    color: red;
    width: 200px;
    height: 45px;
    
    border: 5px solid #ffffff;
/*    padding-top: 10px;
    padding-left: 15px;    */
}

.shop-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 940px;
    min-height: 60px;
    margin-bottom: 120px;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
    width: 120;
    height: 30;
    background: #ffffff;     
}

.user-navigation .btn-registration {
    position: relative;   
    width: 150;
    height: 30;
    background: #ffffff;
    margin-left: 10px;
    margin-right: 0;
}

.btn-registration::before {
    color: red;
}

.login-link::before {
    content: "";

    position: absolute;    
    top: 23px;
    left: 24px;
    
    width: 20px;
    height: 17px;
    
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  
    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
    color: red;
}

.user-ravshan {       
    font-size: 17px;
    line-height: 18px;
    color: #000000;    
}

.user-ravshan a {
    color: #000000;
    text-decoration: underline;
}

.ravshan {
    width: 300px;
    height: 45px;
    background-color: #ffffff;
    border: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.ravshan img {
    
}

.container {    
    width: 960px;
    margin: 0 auto;
    margin-top: 60px;
}

.assortment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.assortment-materials {
    background-color: #ffbf47;
    width: 300px;
    margin-bottom: 20px;
}
/*---------------------------------
.assortment-materials .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}

.assortment-materials .flag-new{
    background:url("../img/new-flag.png") no-repeat 0 0;
}
----------------------------------------*/
.assortment-instruments {
    background-color: #38bce3;
    width: 300px;
    margin-bottom: 20px;
}

.assortment-equipment {    
    background-color: #dc91d8;
    width: 300px;
    margin-bottom: 20px;
}

.services {       
    flex-direction: column;
    justify-content: flex-start;
}

.assortment-discounts {
    background-color: #8ed78f;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}

.assortment-delivery {
    background-color: #ffc047;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}

.container .popular-product {
    width: 940px;
}

.breadcrumbs,
.breadcrumbs a,
.filters h2,
.sort {
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 16px;
    list-style: none;
    color: #000000;
}

.sort {    
    background-color: #f7f3ec;
    width: 700px;
    height: 40px;
}

.sort .sort-filter a {
    color: #000000;
    text-decoration: underline;
    margin-right: 50px;
}

.sort a:active {
    color: red;
}

.paginator a {
    color: #000000;
    text-decoration: underline;
    margin-right: 50px;
}

.sort-filter {   
    display: flex;
    flex-direction: row;
    list-style: none; 
    font-size: 13px;
    line-height: 16px;
}

.assortment,
.assortment a, 
.popular-product a {
    color: #ffffff;
}

.assortment h3 {
    font-size: 24px;
    line-height: 30px;
}

.perforator {
    display: none;
}

.perforator h3,
.drel h3 {
    
    position: absolute;
    top: 550px;
    
    font-size: 36px;
    line-height: 36px;    
}

.perforator p,
.drel p {
    position: absolute;
    top: 600px;
    font-size: 18px;
    line-height: 24px;
}

.btn-canalog {
    position: absolute;
    top: 650;
    box-sizing: border-box;
    background: url("../img/slider-btn.png") no-repeat #ffffff;
    width: 195px;
    height: 38px;  
    font-size: 14px;
    line-height: 38px;
}

h2 {
    font-size: 30px;
    line-height: 30px;
}

.btn-popular {
    display: inline-block;
    padding: 10px 30px;
     width: 253px;
    height: 38px;  
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ff0000;
    border: none;            
    right: 0;
}

.container-catalog {
    display: flex;
    flex-flow: column;
    justify-content: space-around; 
    flex-wrap: wrap;
    width: 940px;
    margin: auto;
    /*
    background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}

.breadcrumbs {    
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 940px;
    height: 40px;
}

.the-choice {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.popular-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    flex-wrap: wrap;
    width:700px;
    margin:20px auto;
}

.product {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;    
    text-transform: uppercase;
    
    position:relative;
    display:inline-block;
    width:200px;
    margin-right:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.product:nth-child(3n){
    margin-right:0;
}

.product{
    font-size:0;
}

.product{
    font-size:16px;
}

.product .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}

.product .flag-new{
    background:url("../img/new-flag.png") no-repeat 0 0;
}

.product .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.product .actions .buy,
.product .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}

.product .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.product .actions{
    display:none;
}

.product:hover .actions{
    display:block;
}


.product .image{
    width:180px;
    height:160px;
}

.product .image img{
    max-width:100%;
}

.product .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}

.product .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.product .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.product .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.manufacturer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;    
}

.manufactur {    
    width: 220px;
    height: 145px; 
    border:1px solid #ccc;
}

.manufactur img {
    margin: auto;
}

.menu-service {
    background-color: #32425c;
    font-size: 21px;
    line-height: 30px;
}

.service h3 {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.service p,
.menu-company {
    font-size: 13px;
    line-height: 24px;   
}

.guarantee,
.credit {
    display: none;
}

.filters {
    width: 220px;
    height: 660px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff; 
}

.footer-social {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

.category-nav,
.footer-social a {
    color: #ffd180;
}

.modal {
    display: none;
}

